/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "bootstrap";
@import "bootswatch";

body {
  width: 100%;
  overflow-x: hidden;

  background-color: #000;

  height: auto;
}

hr {
  border-color: white;
}

header, .blocky {
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow: hidden;

  padding-top: $navbar-height;

  z-index: 0;

  h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 100px;
  }
  h2 {
    padding-left: 120px;
  }
}

footer {
  background-color: $dark;
  height: 150px;
}

.hugebg {
  background-color: #141414;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#scroll-bg {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  transform: scale(1.3);

  z-index: -1;
}

#scroll-bg {
  background-image: url('../images/header-bg.png');
}

#whatis {
  background-image: url('../images/periscope-bg-2.png');
}

#speed {
  background-image: url('../images/speed-bg.png');
}

#advantage {
  background-image: url('../images/periscope-bg.png');
}

#order {
  background-image: url('../images/form-bg.png');
}
